<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net45" />
  <package id="Microsoft.Expression.Drawing" version="3.0.0" targetFramework="net45" />
  <package id="MrMitch.Loaders" version="1.2.0.0" targetFramework="net45" />
</packages>